VITE_API_URL=http://localhost:3001
VITE_WHATSAPP_NUMBER=
VITE_UPI_ID=nerdyfren@upi
VITE_BANK_TRANSFER_DETAILS=Bank details available from your NerdyFren coordinator
VITE_MERCH_URL=https://allboutcommunication.com
VITE_INSTAGRAM_URL=https://www.instagram.com/nerdyfren/
